* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: rgb(12, 78, 201);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(68.15deg, #2f4e92cb 16.62%, #959b3ac9 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.header-image {
    height: 65px;

}

.navbar {
    display: flex;
    gap: 32px;
}

.header-conteudo {
    color: #FFF2E7;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.header-conteudo:hover {
    color: rgba(236, 214, 196, 0.53);
}

.content {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 30px;
}

.conteudo-primario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.name {
    font-size: 64px;
    color: #FFF2E7;
}

.sobre-mim {
    font-size: 24px;
    color: #ECD6C4;
}

.button-link {
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #2f2325;
}

.button-link:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.principal-image {
    height: 430px;
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    justify-content: space-around;
}

.titulo-secundario {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 35px;
    font-size: 24px;
    color: #fff2ef;
    font-weight: 400;
    margin-bottom: 15px;
}

.conteudo-paragrafo {
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #ECD6C4;
}

.rodape-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballerini-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}